<div class="container">
  <div class="photo-list">
    <div class="row">
      <div class="col-md-1-12">
        <div *ngFor="let photo of photos">
          <div>
            <img
              src="http://localhost:8080/images/{{ photo.imageName }}"
              (click)="onSelect(photo)"
              class="img-thumbnail"
              style="cursor: pointer"
              alt=""
            />
          </div>
          <div>
            <div>
              <strong>{{ photo.title }}</strong> <br />
            </div>
            <div class="col-3">{{ photo.likes }} Likes</div>
          </div>
        </div>
      </div>
    </div>
    <a
      [routerLink]="['/add-photo']"
      routerLinkActive="router-link-active"
      class="btn btn-primary"
      role="button"
      >Add Photo</a
    >
  </div>
</div>
