<nav class="navbar navbar-expand-sm navbar-dark bg-info">
  <a
    class="navbar-brand"
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
    ><i class="material-icons">camera</i> PHOTOS</a
  >
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item ">
      <a
        class="nav-link text-white"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        [routerLink]="['/my-album']"
        routerLinkActive="router-link-active"
        >My Album</a
      >
    </li>
  </ul>
  <div class="my-2 my-lg-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          *ngIf="!loginService.checkLogin()"
          class="nav-link text-white"
          [routerLink]="['/sign-up']"
          routerLinkActive="router-link-active"
          >Sign Up</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          (click)="onClick()"
          >{{ loginService.checkLogin() ? "Logout" : "Login" }}</a
        >
      </li>
    </ul>
  </div>
</nav>
